In [1]:
import pandas as pd

In [2]:
df_2011_2019 = pd.read_csv('data/players_list_2011~2019.csv')
df_2011_2019

   kor_name            eng_name     team  release      end_dt
0   더스틴 니퍼트      dustin nippert       두산        0  2010-12-31
1    크리스 세든        chris seddon       sk        0  2011-12-31
2   다나 이브랜드  dana james eveland       한화        0  2011-12-31
3     헨리 소사          henry sosa       기아        0  2011-12-31
4     아담 윌크    adam robert wilk       NC        0  2011-12-31
..      ...                 ...      ...      ...         ...
68  라울 알칸타라      raul alcantara       두산        0  2018-12-31
69  저스틴 헤일리        justin haley  시즌 중 방출        1  2018-12-31
70   워윅 서폴드     warwick saupold       한화        0  2018-12-31
71  드류 루친스키       drew rucinski       NC        0  2018-12-31
72   제이크 톰슨       jake thompson  시즌 중 방출        1  2018-12-31

[73 rows x 5 columns]

In [4]:
df_2020_2022 = pd.read_csv('data/players_list.csv')
df_2020_2022

       kor_name               eng_name team  release      end_dt
0       크리스 플렉센           chris flexen   두산        0  2019-12-31
1          닉 킹엄           nick kingham   sk        1  2019-12-31
2       리카르도 핀토  ricardo antonio pinto   sk        0  2019-12-31
3       마이크 라이트            mike wright   nc        0  2019-12-31
4   오드리사머 데스파이네    odrisamer despaigne   kt        0  2019-12-31
5        애런 브룩스       aaron lee brooks   기아        0  2019-12-31
6         드류 가뇽            drew gagnon   기아        0  2019-12-31
7      데이비드 뷰캐넌         david buchanan   삼성        0  2019-12-31
8       댄 스트레일리            dan straily   롯데        0  2019-12-31
9       아드리안 샘슨   adrian david sampson   롯데        0  2019-12-31
10       웨스 파슨스            wes parsons   nc        0  2020-12-31
11      아리엘 미란다          ariel miranda   두산        0  2020-12-31
12        워커 로켓         walker lockett   두산        0  2020-12-31
13       케이시 켈리    casey patrick kelly   lg        0  2020-12-31
14       조쉬 스미스             josh smith   키움        1  2020-12-31
15       다니엘 멩덴         daniel mengden  kia        0  2020-12-31
16      앤더슨 프랑코        enderson franco   롯데        0  2020-12-31
17       아티 르위키          artie lewicki  ssg        0  2020-12-31
18        월머 폰트            wilmer font  ssg        0  2020-12-31
19      라이언 카펜터         ryan carpenter   한화        0  2020-12-31
20       웨스 벤자민           wes benjamin   kt        0  2021-12-31
21       브랜든 와델        brandon waddell   두산        0  2021-12-31
22       로버트 스탁   robert anthony stock   두산        0  2021-12-31
23     알버트 수아레즈      albert joe suarez   삼성        0  2021-12-31
24       애덤 플럿코            adam plutko   LG        0  2021-12-31
25      타일러 애플러           tyler eppler   키움        0  2021-12-31
26        이반 노바       ivan manuel nova  SSG        1  2021-12-31
27       숀 모리만도        shawn morimando  SSG        0  2021-12-31
28        맷 더모디           matt dermody   Nc        0  2021-12-31
29      글렌 스파크맨         glenn sparkman   롯데        0  2021-12-31
30        찰리 반즈         charlie barnes   롯데        0  2021-12-31
31         션 놀린             sean nolin   기아        0  2021-12-31
32      로니 윌리엄스  ronnie ellis williams   기아        1  2021-12-31
33       펠릭스 페냐     felix ricardo pena   한화        0  2021-12-31
34     예프리 라미레즈          yefry ramirez   한화        0  2021-12-31

In [7]:
df = pd.concat([df_2011_2019,df_2020_2022]).reset_index(drop=True)
df

     kor_name               eng_name team  release      end_dt
0     더스틴 니퍼트         dustin nippert   두산        0  2010-12-31
1      크리스 세든           chris seddon   sk        0  2011-12-31
2     다나 이브랜드     dana james eveland   한화        0  2011-12-31
3       헨리 소사             henry sosa   기아        0  2011-12-31
4       아담 윌크       adam robert wilk   NC        0  2011-12-31
..        ...                    ...  ...      ...         ...
103     찰리 반즈         charlie barnes   롯데        0  2021-12-31
104      션 놀린             sean nolin   기아        0  2021-12-31
105   로니 윌리엄스  ronnie ellis williams   기아        1  2021-12-31
106    펠릭스 페냐     felix ricardo pena   한화        0  2021-12-31
107  예프리 라미레즈          yefry ramirez   한화        0  2021-12-31

[108 rows x 5 columns]

In [9]:
df.to_csv('2011_2022_players_list.csv',index=False)